<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <% @posts.each do |post| %>
        <%= render "public/posts/post", post: post %>
        <div class="border my-3"></div>
      <% end %>
    </div>
  </div>
</div>