<% post.post_comments.each do |post_comment| %>
  <table class="table table-borderless">
    <tr>
      <td><%= image_tag post_comment.user.get_user_image(100,100) %></td>
      <td><%= post_comment.user.name %></td>
      <td><%= post_comment.comment %></td>
      <td>
        <% if post_comment.user == current_user %>
          <%= link_to "削除する", post_post_comment_path(post_comment.post.id, post_comment.id), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  </table>
  <div class="border my-3"></div>
<% end %>
