<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h4>【へぇ〜一覧】</h4>
      <% posts.each do |post| %>
        <%= render "public/posts/post", post: post %>
        <div class="border my-3"></div>
      <% end %>
      <%= paginate posts %>
    </div>
  </div>
</div>