<%= link_to notifications_path, remote: true, class: "btn btn-default nav-link ml-2 shadow notification" do %>
  <% if unchecked_notifications.any? %>
    <span class="fa-stack">
      <i class="fa-regular fa-bell fa-stack-2x" style="font-size: 1.5em;"></i>
      <i class="fa-solid fa-circle n-circle fa-stack-1x"></i>
    </span>
  <% else %>
    <i class="fa-regular fa-bell" style="font-size: 1.5em;"></i>
  <% end %>
<% end %>